beautifulsoup4==4.8.2
bs4==0.0.1
cryptography==3.2
Django==3.1.9
django-extensions==2.2.6
django-werkzeug-debugger-runserver==0.3.1
django-cors-headers==3.3.0
django-import-export==2.3.0
django-simpleui==2021.1.1
simpleui==4.0.2
pymysql==0.9.3
openpyxl==2.6.4
pycrypto==2.6.1
pyOpenSSL==19.1.0
rsa==4.0
sqlparse==0.3.0
requests==2.22.0
pycryptodome==3.9.6
lxml==4.5.1
